<div class="panel panel-default">
  <div class="panel-heading text-center">Sign Up</div>
    <div class="panel-body">
      <%= bootstrap_form_for @user do |f| %>
        <%=f.email_field :email %>
        <%=f.password_field :password %>
        <%=f.password_field :password_confirmation %>
      <%=f.submit "Sign Up", :id => 'new-user', :class => 'btn btn-success' %>
    <%end%>
  </div>
</div>
